// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  background-color: #1a1a1a;
  color: #e97800;
  font-family: 'Share Tech Mono', monospace;
}

.train-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #222;
}

.single-train {
  display: flex; 
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #333;
  text-transform: uppercase;
  gap: 20px;
}

.single-train th, .single-train td {
  text-align: left;
  border: none;
}

.time {
  flex-basis: 150px;
  flex-shrink: 0;
}

.code {
  flex-basis: 120px;
  flex-shrink: 0;
  color: #aaa;
}

.dest {
  flex-grow: 1;
  font-weight: bold;
}

.status {
  flex-basis: 150px;
  flex-shrink: 0;
  text-align: right;
}

.status-cancelled {
  color: #ff3e3e;
}

.single-train span {
  text-shadow: 0 0 5px rgba(255, 157, 0, 0.5);
  letter-spacing: 1px;
}

tbody .single-train:hover {
  background-color: #2a2a2a;
}

thead .single-train {
  background-color: #2d2d2d;
  border-bottom: 2px solid #444;
}

.status-cancelled {
  color: #ff3e3e;
}